<footer class="footer has-background-light py-5">
    <div class="content has-text-centered">
        <p class="has-text-grey">
            &copy; {{ "now"|date("Y") }} <strong>EventPlanifier</strong>. Tous droits réservés.
        </p>
        <p class="has-text-grey">
            <a href="#" class="has-text-link">Politique de confidentialité</a> |
            <a href="#" class="has-text-link">Conditions d'utilisation</a>
        </p>
    </div>
</footer>
