<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <span class="is-size-4 has-text-weight-bold">EventPlanifier</span>
                <span class="iconify" data-icon="solar:calendar-line-duotone" data-inline="false"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="/" class="navbar-item">Accueil</a>
                <a href="{{ path('events') }}" class="navbar-item">Events</a>
            </div>
        </div>
    </nav>
</header>
